@import "_codeset.scss";

.sc-title {
	margin-bottom: 2.4rem;
	line-height: 1.22;
	font-size: 3.6rem;
	font-weight: 600;
	letter-spacing: -0.025em;
	color: #fff;
  #sc-survey & {
    color: $color1;
  }
}